<div class="panel panel-default">
<!--  <div class="panel-heading">-->
<!--    <h1>Employees</h1>-->
<!--  </div>-->
  <form class="form-row">
    <div class="form-group col-md-4">
      <input #minSalary type="text" class="form-control" placeholder="Min. Salary">
    </div>
    <div class="form-group col-md-4">
      <input #maxSalary type="text" class="form-control" placeholder="Max Salary">
    </div>
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-outline-info" (click)='searchEmployees(minSalary.value, maxSalary.value)'>Search</button>
    </div>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-info" (click)='upload()'>Upload</button>
    </div>

  </form>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Employee Id</th>
        <th>Login Name</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.employeeId}}</td>
        <td>{{employee.loginName}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        <td>
          <button type="button" class="btn btn-outline-info form-group mx-sm-3" (click)="openModal(employee)">Edit</button>
          <button type="button" class="btn btn-outline-info form-group mx-sm-3" (click)='deleteEmployee(employee.id, employee.loginName)'>Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

	<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="searchEmployees(minSalary.value, maxSalary.value)">
		<ng-template ngbPaginationPrevious>Prev</ng-template>
		<ng-template ngbPaginationNext>Next</ng-template>
	</ngb-pagination>

  </div>
</div>
